<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>Todolist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="clearfix"></div>
  <h2 class="text-center"><a class="name_pr" href="/#/">TODO LIST</a></h2>
  <div class="container" ng-controller="SignInCtrl">
    <toaster-container></toaster-container>

    <div ui-view>


      <%= yield %>
    </div>

  </div>


</body>
</html>
